@charset "utf-8";
/* CSS Document */

@import "./bop/1/18.css";
@import "./bop/1/17.css";
@import "./bop/1/16.css";
@import "./bop/1/15.css";
@import "./bop/1/14.css";
@import "./bop/1/13.css";
@import "./bop/1/12.css";
@import "./bop/1/11.css";

@import "./bop/2/21.css";
@import "./bop/2/22.css";
@import "./bop/2/23.css";
@import "./bop/2/24.css";
@import "./bop/2/25.css";
@import "./bop/2/26.css";
@import "./bop/2/27.css";
@import "./bop/2/28.css";

@import "./bop/3/38.css";
@import "./bop/3/37.css";
@import "./bop/3/36.css";
@import "./bop/3/35.css";
@import "./bop/3/34.css";
@import "./bop/3/33.css";
@import "./bop/3/32.css";
@import "./bop/3/31.css";

@import "./bop/4/41.css";
@import "./bop/4/42.css";
@import "./bop/4/43.css";
@import "./bop/4/44.css";
@import "./bop/4/45.css";
@import "./bop/4/46.css";
@import "./bop/4/47.css";
@import "./bop/4/48.css";

.bop_hover_btn {
	position: absolute;
	z-index: 40;
	background-color: #E9E9E9;
	opacity: 1;
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

.bop_hover_btn:hover {
	background-color: #F1CCCC;
	opacity: 1;
}